.chat-page-container {
    display: flex;
    height: 94vh; /* 상단 바를 제외한 전체 높이 */
    overflow: hidden;

    width: 100%;
    background-color: #f5f7fa;
}

.chat-list-container {
    width: 343px; /* 고정 너비로 변경 */
    border-right: 1px solid #e0e0e0;
    background-color: white;
    overflow-y: auto; /* 리스트 스크롤 가능 */
}

.chat-room-container {
    flex: 1; /* 나머지 공간을 채팅방에 할당 */
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow-y: hidden; /* 내부 스크롤은 chat-messages에 위임 */
}

.chat-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 20px;
    color: #888;
}

.chat-main-content {
    flex: 1;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    height: calc(100vh - 56px); /* 상단 바를 제외한 전체 높이 */
    width: 100%;
    padding: 0; /* 여백 제거 */
    background-color: #f5f7fa;
}

