.chat-list-container {
    width: 25%; /* 기존보다 폭을 줄임 */
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    background-color: white;
}

.chat-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chat-list-item {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chat-list-item:hover {
    background-color: #f0f0f0;
}

.chat-list-item.selected {
    background-color: #d0e2ff;
    /* 선택된 방의 배경색 */
    color: #1b4bc3;
    /* 선택된 방의 텍스트 색상 */
    font-weight: bold;
}