.plan-upgrade-content {
    flex: 1;
    padding: 40px;
    background-color: #F7F9FD;
}

.plan-upgrade-content h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.plan-upgrade-content p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}

.plan-upgrade-buttons {
    display: flex;
    justify-content: space-between;
}

.confirm-upgrade-button,
.cancel-upgrade-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.confirm-upgrade-button {
    background-color: #007bff;
    color: #fff;
}

.confirm-upgrade-button:hover {
    background-color: #0056b3;
}

.cancel-upgrade-button {
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ddd;
}

.cancel-upgrade-button:hover {
    background-color: #e0e0e0;
}


.plan-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    max-width: 1200px;
    padding: 40px;
    margin: auto;
    height: 70vh;
    background-color: #f7f9fd;
    flex-wrap: wrap;
    /* 화면 크기가 작아지면 다음 줄로 넘어가게 설정 */
}

.free-plan-box,
.premium-plan-box {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 500px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    /* 박스 간격 추가 */
}

/* 반응형 디자인 추가 */
@media (max-width: 768px) {
    .plan-container {
        flex-direction: column;
        /* 박스들을 세로로 정렬 */
        height: auto;
        /* 높이를 자동으로 설정 */
        gap: 20px;
        /* 박스 간 간격 */
    }

    .free-plan-box,
    .premium-plan-box {
        width: 90%;
        /* 화면 너비의 90% 차지 */
        max-width: 400px;
        /* 최대 너비 제한 */
        height: auto;
        /* 높이 자동 조정 */
    }
}

.free-plan-box {
    border: 2px solid #e0e0e0;
    /* 연한 회색 테두리 */
}

.premium-plan-box {
    border: 2px solid #1b4bc3;
    /* 파란 테두리 */
}

.plan-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.plan-price {
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0;
}

.plan-duration {
    font-size: 14px;
    color: #888;
}

.current-plan-button,
.upgrade-button {
    margin: 20px 0;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.current-plan-button {
    background-color: #f7f9fd;
    color: #1b4bc3;
    border: 1px solid #1b4bc3;
}

.current-plan-button:hover {
    background-color: #1b4bc3;
    color: #fff;
}

.upgrade-button {
    background-color: #1b4bc3;
    color: #fff;
    border: none;
}

.upgrade-button:hover {
    background-color: #0056b3;
}

.plan-features {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    font-size: 14px;
    color: #666;
}

.plan-features li {
    margin-bottom: 5px;
}